*{
    margin: 0;
}

body{
    background-color: #eee5de;
}

/* Start Header */
.navbar {
    overflow: hidden;
    background-color: #caa298;
    position: absolute; 
    top: 0; 
    width: 100%;
    z-index: 1;
  }
  .navbar a {
    font-family: 'Poppins', sans-serif;
    float: left;
    font-size: 2vw;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
  }

  .dropdown {
    float: right;
    padding-right: 10px;
    overflow: hidden;
    transition: 0.5s;
  }
  .dropdown .dropbtn {
    font-size: 2vw;
    border: none;
    outline: none;
    color: #333;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    transition: 0.5s;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: white;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown-content a {
    font-family: 'Poppins', sans-serif;
    float: none;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1.5vw;
  }
  .dropdown-content a:hover {
    color: white;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    position:fixed;
  }
  .d2 {
    right:0;
  }
/* End Header */

.wedding{
    margin: 17vw 0 10vw 0;
}

.wedding h1{
    font-family: 'Jomhuria', serif;
    font-weight: lighter;
    text-align: center;
    font-size: 30vw;
}

.desc{
    padding: 8vw 10vw;
    background-color: #f1cac4;
}

.desc p{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 3vw;
}

.main{
    background-color: #caa298;
    padding: 12vw;
    display: flex;
    justify-content: center;
}

.main img{
    width: 60vw;
    border-radius: 2%;
    box-shadow: 0 1.5vw 5vw -0.75vw rgba(123, 86, 71, 0.9);
}

.process{
    background-color: #7c5848;
    padding: 8vw 10vw;
}

.process p{
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 2.5vw
}

.gallery{
    padding: 8vw 0;
}

.gallery h6{
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 6vw;
    margin-bottom: 5vw;
}

/* New Gallery */


.slider-gallery{
    position: relative;
    max-width: 75vw;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 9 / 10;
    overflow-x: auto;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5vw 5vw -0.75vw rgba(123, 86, 71, 0.9);
    border-radius: 4%;
    animation: slider 16s infinite;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1vw;
    position: absolute;
    bottom: 3vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: #7c5848;
    opacity: 60%;
    transition: opacity ease;
}

.slider-nav a:hover{
    opacity: 1;
}

/* Contact Box */

.contact{
    margin: 20vw;
    background-color: #caa298;
    border-radius: 2%;
    padding-bottom: 4vw;
    box-shadow: 0 1.5vw 5vw -0.75vw rgba(123, 86, 71, 0.9);
}

.contact .message textarea::placeholder {
    font-size: 1.5vw;
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Jost', sans-serif;
}

.contact h1{
    text-align: center;
    font-family: 'Jost', sans-serif;
    color: rgb(0, 0, 0, 0.7);
    line-height:10vw;
    font-size: 3.2vw;
}

/* Name Form */

.name{
    position: relative;
    padding-top: 1vw;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.name-field{
    outline: 0;
    border: 0;
    border-bottom: 0.2vw solid rgb(0, 0, 0, 0.3);
    padding: 0.9vw 0;
    background: transparent;
    font-size: 1.5vw;
    color: rgb(0, 0, 0, 0.5);
    transition: 0.3s ease;
    width: 50vw;
}

.name-label{
    display: block;
    position: absolute;
    top: 0;
    color: rgb(0, 0, 0, 0.7);
    text-transform: uppercase;
    transition: 0.3s ease;
    font-family: 'Jost', sans-serif;
}

.name-field::placeholder{
    color: transparent;
}

.name-field:placeholder-shown ~ .name-label{
    font-size: 1.5vw;
    top: 2vw;
    padding-left: 0.7vw;
}

.name-field:focus{
    border-image: linear-gradient(to right, rgb(0, 0, 0, 0.6), rgb(158, 81, 70, 1));
    border-image-slice: 1;
} 

.name-field:focus ~ .name-label{
    display: block;
    position: absolute;
    top: 0;
    font-size: 1vw;
    color: black;
}

/* End Name Form */
/* Email Form */

.email{
    position: relative;
    padding-top: 1vw;
    width: 50vw;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
}

.email-field{
    outline: 0;
    border: 0;
    border-bottom: 0.2vw solid rgb(0, 0, 0, 0.3);
    padding: 0.9vw 0;
    background: transparent;
    font-size: 1.5vw;
    color: rgb(0, 0, 0, 0.5);
    transition: 0.3s ease;
    width: 50vw;
}

.email-label{
    display: block;
    position: absolute;
    top: 0;
    color: rgb(0, 0, 0, 0.7);
    text-transform: uppercase;
    transition: 0.3s ease;
    font-family: 'Jost', sans-serif;
}

.email-field::placeholder{
    color: transparent;
}

.email-field:placeholder-shown ~ .email-label{
    font-size: 1.5vw;
    top: 2vw;
    padding-left: 0.7vw;
}

.email-field:focus{
    border-image: linear-gradient(to right, rgb(0, 0, 0, 0.6), rgb(158, 81, 70, 1));
    border-image-slice: 1;
} 

.email-field:focus ~ .email-label{
    display: block;
    position: absolute;
    top: 0;
    font-size: 1vw;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0, 0.3);
}

/* End Email Form */
/* Message Form */

.message{
    position: relative;
    padding-top: 1vw;
    width: 50vw;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
}

.message textarea{
    padding: 2vw 1vw;
    font-family: 'Gowun Dodum', sans-serif;
    background-color: transparent;
    width: 48vw;
    color: rgb(0, 0, 0, 0.7);
    border-color: rgb(0, 0, 0, 0.3);
    border-width: 0.2vw;
    outline: none !important;
}

.message-field:focus{
    border-image: linear-gradient(to right, rgb(0, 0, 0, 0.6), rgb(158, 81, 70, 1));
    border-image-slice: 0.5;
} 

/* End Message Form */

.send{
    margin-top: 3vw;
    display: flex;
    justify-content: center;
}

.send button{
    font-family: 'Jost', sans-serif;
    border-radius: 10% / 20%;
    border-width: 0.1vw;
    background-color: rgb(124, 88, 72, 0.4);
    font-size: 1.3vw;
    color: rgb(0, 0, 0, 0.6);
    border-style: solid;
    border-color: rgb(0, 0, 0, 0.4);
}

/* Start Footer */
footer{
    padding: 10vw 10vw;
    background-color: #7c5848;
}

footer div.Guidebook{
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 5vw 0;
    text-decoration: underline;
}

footer div.Guidebook a{
    color: white;
}

footer table{  
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

footer table td{
    text-align: center;
    padding: 1vw;
}

footer table a{
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    letter-spacing: .3vw;
}

footer div p.Follow{
    margin-top: 10vw;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vw;
}

footer div.Socials{
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    width: 45vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer div.Socials a i.fa-twitter-square, i.fa-facebook-square, i.fa-instagram, i.fa-linkedin-square, i.fa-pinterest-square{
    color: white;
}

footer div.Rights{
    font-family: 'Jost', sans-serif;
    color: white;
    text-align: center;
    margin-top: 10vw;
    font-size: 1.6vw;
}

/* End Footer */