html, body {
  margin: 0;
}
.logo {
    padding-left: 30%;
    position: relative;
}
.navbar {
  overflow: hidden;
  background-color:  rgb(219, 215, 215);
  position: absolute; 
  top: 0; 
  width: 100%;
  z-index: 1;
}
.navbar a {
  font-family: 'Poppins', sans-serif;
  float: left;
  font-size: 40%;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.5s;
}

.dropdown {
  float: right;
  padding-right: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.dropdown .dropbtn {
  font-size: 2vw;
  border: none;
  outline: none;
  color: #333;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  transition: 0.5s;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  color: white;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  font-family: 'Poppins', sans-serif;
  float: none;
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.5vw;
}
.dropdown-content a:hover {
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
  position:fixed;
}
.d2 {
  right:0;
}

img#shrink {
    max-width: 100%;
    transition: max-width 0.3s ease-in-out;
}

.main-gallery .h1 {
    font-size: 75px;
    letter-spacing: -0.9%;
    width: 100%;
      position: absolute; 
  left: 50%; 
  transform: translate(-50%, -100%); 
  background-color: rgba(266, 266, 266, 0.7);
  text-align: center; 
    
}

.main-gallery {
    align-content: flex;
    max-height: 100%;
}

.slides {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 50%;
    height: 60%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}


.slides-content {
    display: flex;
    align-content: center;
}


.mySlides {
    display: none;
    width: 10%;
    height: auto;
    align-items: center;
    margin-left: 10%;
}


.gallery-item #clickIMG {
    width: 100%;
    height: 28%;
    float:none;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
        -webkit-transition: all 2s;
    transition:all 2s;

}

.main-gallery:hover #clickIMG{
    background-size: 300px 360px;
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    color: #f1f1f1;
    cursor: pointer;
}


.scroll-thru {
  position: relative;
  max-width: 800px; 
  margin: 0 auto;
  overflow: hidden;
}

.scroll {
  display: flex;
  transition: transform 0.5s ease;
}

.scroll-slide {
  flex: 0 0 auto;
  width: 100%;
}

.scroll-slide img {
  width: 100%;
  height: auto;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.headTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 45vh; 
}

.h2 {
    font-size: 100px;  
}

.colOne {
    padding-top: 10%;
    padding-top: 10px;
    align-content: center;
    max-height: inherit;
    max-width: 85%;
    position: relative;
    overflow: hidden;
}

.colOne #SECOND{
    width: 25%;
    height: auto;
    float: left;
    padding-left: 17%;
      animation: pulse 3s;
  margin: 0 auto;
  display: table;
  margin-top: 7px;
  animation-direction: alternate;
}

.colOne #THIRD{
    width: 25%;
    height: auto;
    float: right;
      animation: pulse 3s;
  margin: 0 auto;
  display: table;
  margin-top: 7px;
  animation-direction: alternate;
}

.colOne #FOURTH{
    width: 25%;
    height: auto;
    float: auto;
  animation: pulse 3s;
  margin: 0 auto;
  display: table;
  margin-top: 7px;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.headThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 45vh; 
}

.h3 {
    font-size: 100px;  
}

.colTwo {
    padding-top: 2%;
    padding-top: 10px;
    align-content: center;
    max-height: inherit;
    max-width: 85%;
    position: relative;
    overflow: hidden;
}

.colTwo #FIFTH{
    width: 25%;
    height: auto;
    float: left;
    padding-left: 17%;
      animation: pulse 3s;
  margin: 0 auto;
  display: table;
  margin-top: 7px;
  animation-direction: alternate;
}

.colTwo #EIGHT{
    width: 25%;
    height: auto;
    float: right;
      animation: pulse 3s;
  margin: 0 auto;
  display: table;
  margin-top: 7px;
  animation-direction: alternate;
}

.colTwo #SEVENTH{
    width: 25%;
    height: auto;
    float: auto;
  animation: pulse 3s;
  margin: 0 auto;
  display: table;
  margin-top: 7px;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.main-cont {
    padding-top: 20%;
}

.head4 .h4{
    font-size: 100px; 
    padding-top: 10%;
    text-align: left;
}

.head4 #WHITEDESC{
    padding-top: 10%;
    font-size: 300%;
    text-justify: auto;
    float: left;
    width: 50%;
    height: auto;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
}

.head4 #CROPPEDFEATURE{
    width: 20%;
    height: auto;
    float: left;
    animation: pulse 3s;
  margin: 0 auto;
  display: table;
  animation-direction: alternate;
    border-radius: 20px;
    padding-right: 30%;
}

.head4 #WHITEFEATURE{
    width: 30%;
    height: auto;
    float: right;
    animation: pulse 3s;
  margin: 0 auto;
  display: table;
  animation-direction: alternate;
    border-radius: 20px;
}

.contact{
  margin: 20vw;
  background-color: #caa298;
  border-radius: 2%;
  padding-bottom: 4vw;
  box-shadow: 0 1.5vw 5vw -0.75vw rgba(123, 86, 71, 0.9);
}

.contact .message textarea::placeholder {
  font-size: 1.5vw;
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Jost', sans-serif;
}

.contact h1{
  text-align: center;
  font-family: 'Jost', sans-serif;
  color: rgb(0, 0, 0, 0.7);
  line-height:10vw;
  font-size: 3.2vw;
}

/* Name Form */

.name{
  position: relative;
  padding-top: 1vw;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.name-field{
  outline: 0;
  border: 0;
  border-bottom: 0.2vw solid rgb(0, 0, 0, 0.3);
  padding: 0.9vw 0;
  background: transparent;
  font-size: 1.5vw;
  color: rgb(0, 0, 0, 0.5);
  transition: 0.3s ease;
  width: 50vw;
}

.name-label{
  display: block;
  position: absolute;
  top: 0;
  color: rgb(0, 0, 0, 0.7);
  text-transform: uppercase;
  transition: 0.3s ease;
  font-family: 'Jost', sans-serif;
}

.name-field::placeholder{
  color: transparent;
}

.name-field:placeholder-shown ~ .name-label{
  font-size: 1.5vw;
  top: 2vw;
  padding-left: 0.7vw;
}

.name-field:focus{
  border-image: linear-gradient(to right, rgb(0, 0, 0, 0.6), rgb(158, 81, 70, 1));
  border-image-slice: 1;
} 

.name-field:focus ~ .name-label{
  display: block;
  position: absolute;
  top: 0;
  font-size: 1vw;
  color: black;
}

/* End Name Form */
/* Email Form */

.email{
  position: relative;
  padding-top: 1vw;
  width: 50vw;
  margin-top: 1vw;
  margin-left: auto;
  margin-right: auto;
}

.email-field{
  outline: 0;
  border: 0;
  border-bottom: 0.2vw solid rgb(0, 0, 0, 0.3);
  padding: 0.9vw 0;
  background: transparent;
  font-size: 1.5vw;
  color: rgb(0, 0, 0, 0.5);
  transition: 0.3s ease;
  width: 50vw;
}

.email-label{
  display: block;
  position: absolute;
  top: 0;
  color: rgb(0, 0, 0, 0.7);
  text-transform: uppercase;
  transition: 0.3s ease;
  font-family: 'Jost', sans-serif;
}

.email-field::placeholder{
  color: transparent;
}

.email-field:placeholder-shown ~ .email-label{
  font-size: 1.5vw;
  top: 2vw;
  padding-left: 0.7vw;
}

.email-field:focus{
  border-image: linear-gradient(to right, rgb(0, 0, 0, 0.6), rgb(158, 81, 70, 1));
  border-image-slice: 1;
} 

.email-field:focus ~ .email-label{
  display: block;
  position: absolute;
  top: 0;
  font-size: 1vw;
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0, 0.3);
}

/* End Email Form */
/* Message Form */

.message{
  position: relative;
  padding-top: 1vw;
  width: 50vw;
  margin-top: 1vw;
  margin-left: auto;
  margin-right: auto;
}

.message textarea{
  padding: 2vw 1vw;
  font-family: 'Gowun Dodum', sans-serif;
  background-color: transparent;
  width: 48vw;
  color: rgb(0, 0, 0, 0.7);
  border-color: rgb(0, 0, 0, 0.3);
  border-width: 0.2vw;
  outline: none !important;
}

.message-field:focus{
  border-image: linear-gradient(to right, rgb(0, 0, 0, 0.6), rgb(158, 81, 70, 1));
  border-image-slice: 0.5;
} 

/* End Message Form */

.send{
  margin-top: 3vw;
  display: flex;
  justify-content: center;
}

.send button{
  font-family: 'Jost', sans-serif;
  border-radius: 10% / 20%;
  border-width: 0.1vw;
  background-color: rgb(124, 88, 72, 0.4);
  font-size: 1.3vw;
  color: rgb(0, 0, 0, 0.6);
  border-style: solid;
  border-color: rgb(0, 0, 0, 0.4);
}

footer{
  padding: 10vw 10vw;
  background-color: #7c5848;
}

footer div.Navigation{
  text-align: center;
  font-size: 2.5vw;
  font-family: 'Poppins', sans-serif;
  margin: 0 0 5vw 0;
}

footer div.Navigation p{
  color: rgb(255, 255, 255);
}

footer table{  
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

footer table td{
  text-align: center;
  padding: 1vw;
}

footer table a{
  font-size: 2vw;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: .3vw;
}

footer div p.Follow{
  margin-top: 10vw;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5vw;
}

footer div.Socials{
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 45vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer div.Socials a i.fa-twitter-square, i.fa-facebook-square, i.fa-instagram, i.fa-linkedin-square, i.fa-pinterest-square{
  color: white;
}

footer div.Rights{
  font-family: 'Jost', sans-serif;
  color: white;
  text-align: center;
  margin-top: 10vw;
  font-size: 1.6vw;
}
